@font-face {
    font-family: Lato;
    src: url('/fonts/font-lato/lato-regular-webfont.woff2') format('woff2'),
             url('/fonts/font-lato/lato-regular-webfont.woff') format('woff');
             font-display: optional;
}
@font-face {
    font-family: Lato;
    src: url('/fonts/font-lato/lato-bold-webfont.woff2') format('woff2'),
             url('/fonts/font-lato/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-display: optional;
}

@font-face {
    font-family: Lato;
    src: url('/fonts/font-lato/lato-italic-webвfont.woff2') format('woff2'),
             url('/fonts/font-lato/lato-italic-webfont.woff') format('woff');
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: Lato;
    src: url('/fonts/font-lato/lato-bolditalic-webfont.woff2') format('woff2'),
             url('/fonts/font-lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: optional;
}

body {
    font-family: Lato, "serif";
}
